<!doctype html>
<html class="no-js" lang="en">

<style>
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.success {
  border-color: #4CAF50;
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}

/* Gray */
.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: #e7e7e7;
}
</style>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
      <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>


    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">BostonVisualize</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->
    <br>
    <!-- You can now combine a row and column if you just need a 12 column row -->

    <div class="row">
      <div class="medium-6 columns">
       <div>
           <h2 class="text-center text-white">Boston neighborhood</h2>
           <hr class="star-light mb-5">
           <img class="masthead-avatar mb-5" src=
                   "https://maperitif.files.wordpress.com/2012/05/neighborhhod-map-large.gif" alt="">
       </div>
      </div>

      <div class="medium-6 columns">
        <section class="bg-primary mb-0" id="try">
  	    <div class="container">
    	<h2 class="text-center text-white">Enter your house info!</h2>
    	<hr class="star-light mb-5">
          	<!--<div class="col-sm m-3 text-center">-->
            <div class="col-sm m-3">
                <form action="/output" method="GET" id="user_input">
                    <label for="user_input">Address</label>
                        <input type="text" id="user_input" name='address' size="10"
                               placeholder="e.g. 25 Brighton St"><br>

                    <label for="user_input">Property type</label>
                        <select name="property type">
                            <option value="Townhouse">Townhouse</option>
                            <option value="Single Family Residential">Single Family Residential</option>
                            <option value="Condo/Co-op">Condo/Co-op</option>
                        </select>
                    <br>



                </form>
            </div> <!-- end col-sm m-3 -->

            <div class="col-sm m-3 text-center">
                    <button type="submit" class="btn green"
                            form="user_input"><b>Visualize houses</b></button>
            </div>

        </div> <!-- end container -->
        </section>
      </div> <!-- end medium-6 column -->
    </div> <!-- end row -->


    <!---
    ******************************************
    OUTPUT
    ******************************************
    -->


    <div class="row">
        <div class="medium-6 columns">

        {% if my_form_result=='Empty' %}
        <h1>Please enter an address</h1>

  	    {% elif my_form_result=='NotEmpty' %}
        <h1>Flask Google Maps Example</h1>

        {{ gmap.js }}
        {{ gmap.html }}

        </div> <!-- end medium-6 columns-->


        <div class="medium-6 columns">
        </div> <!-- end medium-6 columns-->


    </div> <!-- end row -->

    {% else %}
    {% endif %}

  </body>
</html>



